@font-face {
    font-family: 'Raleway Regular';
    src:    url('../fonts/Raleway-VariableFont_wght.ttf') format('truetype-variations');
}

@font-face {
    font-family: 'Raleway Italic';
    src: url('../fonts/Raleway-Italic-VariableFont_wght.ttf') format('truetype-variations');
}

html {
    scroll-snap-type: y mandatory;
}

body {
    background-color: black;
    color: white;
    font-family: 'Raleway Regular';
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(2, 100vh);
    place-items: center;
}

.grid-item {
    grid-column: 4 / 10;
    height: 100%;
    place-self: center stretch;
    display: flex;
    justify-content: center;
    align-items: center;
    scroll-snap-align: start;
    border: 1px dashed white;
}