@font-face {
    font-family: 'Raleway Regular';
    src:    url('../fonts/Raleway-VariableFont_wght.ttf') format('truetype-variations');
}

@font-face {
    font-family: 'Raleway Italic';
    src: url('../fonts/Raleway-Italic-VariableFont_wght.ttf') format('truetype-variations');
}

:root{
    --golden-ratio: 61.8%;
    --broken-white: rgb(255, 255, 245);

}

html {
    scroll-snap-type: y mandatory;
}

body {
    background-image: url('../images/veluwe.jpg');
    background-size:cover;
    font-family: 'Raleway Regular';
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    grid-template-rows: repeat(2, 100vh);
    grid-auto-flow: column;
}

.grid-item {
    height: 100%;
    place-self: center stretch;
    display: flex;
    justify-content: center;
    align-items: center;
    scroll-snap-align: start;
}

.card {
    display: flex;
    background-color: var(--broken-white);
    border-radius: 10px;
    height: var(--golden-ratio);
    width: var(--golden-ratio);
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.35);
    padding: 1rem;
}

.link-buttons{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    width: var(--golden-ratio);
}

.icon-link{
    padding: 1rem;
    transition: transform 0.3s ease-in-out;
}
.icon-link:hover {
    transform: scale(1.2);
}